---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@import "color";

a, a:visited, a:hover, a:active {
  color: $brand-color;
}

.wrapper {
  max-width: calc(1200px - (30px * 2));

}

.site-header {
  background-color: $brand-color;

  .site-title {
    color: $site-title-text-color;
  }
}

.page-heading {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid $border-color;
}

section {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid $border-color;

  h2 {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid $border-color;
  }

  .section-info {
    margin-bottom: 15px;

    h3 {
      margin-bottom: 5px;
    }

    blockquote {
      color: $primary-text-color;
      border-color: $brand-color;
      font-style: normal;
    }
  }
}

table {
  width: 100%;

  tr {
    vertical-align: top;
  }
}

.home {
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        color: $brand-color;
      }
    }
  }
}

